pom.xml
*jar
/lib/
/classes/
/out/
/release/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl*

/node_modules/
/resources/public/out/
/resources/public/js/webwhiteboard.js
/repl/
.lein-failures
.cljs_rhino_repl
.nrepl-port